<% form_for @video do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <!-- the control will appear next to this, and the video ID will be stored here after the upload -->
  <input type="hidden" name="video[panda_video_id]" id="returned_video_id" />

  <!-- upload progress bar (optional) -->
  <div id="upload_progress" class="panda_upload_progress"></div>
    

  <%= f.submit "Upload video" %>
<% end %>

<script>
  <% auth_params = Panda.signed_params('post', "/videos.json") %>
  jQuery("#returned_video_id").pandaUploader(<%= auth_params.to_json %>, { upload_progress_id: 'upload_progress' });
</script>
