<h1><%=h @video['original_filename'] %></h1>
<div class="status"><%=h @video['status'] %></div>
<% @encodings.each	do |encoding| %>
	<% if encoding['status'] == 'success' %>
		<%= embed_encoding(encoding) %>
	<% else %>
		<p class="error">Error processing flash video output.</p>
	<% end %>
<% end%>
