<h2>Normal upload</h2>

<iframe src="<%= @upload_form_url %>" width="400" height="100" frameborder="0"></iframe>

<h2>Flash upload</h2>

<object id="main" width="500" height="100"
	codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
	<param name="movie" value="/panda_uploader.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="flashVars" value="uploadDest=<%= @upload_dest_url %>" />
	<embed src="/panda_uploader.swf" quality="high" bgcolor="#ffffff"
	  flashVars="uploadDest=<%= @upload_dest_url %>"
		width="500" height="100" name="main" align="middle"
		play="true"
		loop="false"
		quality="high"
		allowScriptAccess="sameDomain"
		type="application/x-shockwave-flash"
		pluginspage="http://www.adobe.com/go/getflashplayer">
	</embed>
</object>