production:
  api_host: 
  access_key: 
  secret_key: 
  cloud_id: 
development:
  api_host:     
  access_key: 
  secret_key: 
  cloud_id: 
test:           
  api_host: 
  access_key: 
  secret_key: 
  cloud_id: 