PANDA_ENCODING = "Flash video SD"
VIDEOS_DOMAIN = "s3.amazonaws.com/myvideosbucket"

Panda.account_key = "PANDA API KEY"
Panda.api_domain = "ec2-000-000-000-000.compute-1.amazonaws.com"
Panda.api_port = 80